body {
    font-family: "Atkinson Hyperlegible Next", serif;
    background-color: #f7a072b5;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.navbar {
    overflow: hidden;
    padding: 0 24px;
    border-bottom: 2px solid black;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: #00377e;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #5C677D;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


main {
    margin: 42px;
}

header {
    color: black;
    text-align: center;
    padding: 42px 52px 18px;
    border-radius: 16px;
}

header img{
    width: 80px;
}

header h1 {
    font-size: 42px;
}

header p {
    font-size: 19px;
}

hr {
    color: #001845;
    background-color: #001845;
    border: 1px black solid;
}

article h2 {
    padding: 24px 42px 0 42px;
    color: black;
}


/* CARDS */
.card {
    display: flex;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.card img {
    width: 40%;
    object-fit: cover;
}
.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card h2 {
    margin: 0;
    font-size: 1.5em;
}
.card p {
    color: #555;
}